.feed {
  flex: 1; //precedence over other components.. try take as much room as it can
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
