.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in; //make that transform (hover) last 100ms and let it ease in
  cursor: pointer;

  h4 {
    position: absolute;
    text-align: center;
    bottom: 20px;
    right: 20px;
    left: 20px;
    color: white;
  }
}

.story:hover {
  transform: scale(1.07); //scale 7% when hovering over image
}

.story__avatar {
  margin: 10px;
  border: 5px solid #2e81f4;
}
