@import 'theme/components/header/Header';
@import 'theme/components/sidebar/Sidebar';
@import 'theme/components/sidebar/SidebarRow';
@import 'theme/components/feed/Feed';
@import 'theme/components/feed/MessageSender';
@import 'theme/components/feed/StoryReel';
@import 'theme/components/feed/Story';
@import 'theme/components/feed/Post';

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
